<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Main</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>

<div th:replace="fragments/header :: header">
</div>

<!-- Body -->
<div class="container" style="background-color:#C7FCEC;">

        Your tariff: <span th:text="${user.tariff.tariffName}">User Description</span>.<br/><br/>

        <form name="formConnect" action="#" th:action="@{/user/changeTariff}" method="post" th:object="${tariff}">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Tariff</th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="tar : ${tariffs}">
                    <div th:if="${tar.tariffName} != ${user.tariff.tariffName}">
                        <tr>
                            <td>
                                <div class="radio">
                                    <label>
                                        <input type="radio" th:field="*{tariff_id}" th:value="${tar.tariff_id}" th:text="${tar.tariffName}"/>
                                    </label>
                                </div>
                            </td>
                        </tr>
                    </div>
                </th:block>
                </tbody>
            </table>
            <button type="submit" name="changeTariff" class="btn btn-default">Change tariff</button>
        </form>

</div>

</body>
</html>