<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Main</title>
    <div th:replace="fragments/bootstrap :: bootstrap">
    </div>

</head>
<body>

<div th:replace="fragments/header :: header">
</div>

<!-- Body -->
<div class="container">

        Your tariff: <span th:text="${user.tariff.tariffName}">User Description</span>.<br/><br/>

        <form name="formConnect" action="#" th:action="@{/user/changeTariff}" method="post" th:object="${tariff}">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Tariff</th>
                    <th>Cost per month</th>
                    <th>Cost per minute</th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="tariff : ${tariffs}">
                    <div th:if="${tariff.tariffName} != ${user.tariff.tariffName}">
                        <tr>
                            <td>
                                <div class="radio">
                                    <label>
                                        <input type="radio" th:field="*{tariff_id}" th:value="${tariff.tariff_id}" th:text="${tariff.tariffName}"/>
                                    </label>
                                </div>
                            </td>
                            <td th:text="${tariff.costPerMonth}">...</td>
                            <td th:text="${tariff.costPerMinute}">...</td>
                        </tr>
                    </div>
                </th:block>
                </tbody>
            </table>
            <button type="submit" name="changeTariff" class="btn btn-default">Change tariff</button>
        </form>

    <div th:replace="fragments/footer :: footer">
    </div>

</div>

</body>
</html>