<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Main</title>
    <div th:replace="fragments/bootstrap :: bootstrap">
    </div>

</head>
<body>

<div th:replace="fragments/header :: header">
</div>

<!-- Body -->
<div class="container">

    <div th:if="${addonsNonUser.isEmpty()}">
        You already have all the services connected.
    </div>
    <form method="post" th:object="${userWrapper}" th:action="@{/user/connectAddons}" th:if="${!addonsNonUser.isEmpty()}">
        <div>
            Select services.
        </div>
        <br/>
        <table class="table table-bordered">
            <tr>
                <th>Checkbox</th>
                <th>Name</th>
                <th>Description</th>
                <th>Connect cost</th>
                <th>Cost per month</th>
            </tr>
            <th:block th:each="addon : ${addonsNonUser}">
                <tr>
                    <td>
                        <input type="checkbox" th:field="*{addonId}" th:value="${addon.addonId}"/>
                    </td>
                    <td th:text="${addon.addonName}">...</td>
                    <td th:text="${addon.description}">...</td>
                    <td th:text="${addon.connectCost}">...</td>
                    <td th:text="${addon.costPerMonth}">...</td>
                </tr>
            </th:block>
        </table>
        <input th:type="submit" th:name="save" th:value="Connect" class="btn btn-default"/>

    </form>

    <br/>

    <div th:replace="fragments/footer :: footer">
    </div>

</div>

</body>
</html>