<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Main</title>
    <div th:replace="fragments/bootstrap :: bootstrap">
    </div>

</head>
<body>

<div th:replace="fragments/header :: header">
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div>
                Select tariff.
            </div>
            <br/>
            <form name="formConnect" th:action="@{/user/connect}" method="post" th:object="${tariff}">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Tariff</th>
                        <th>Cost per month</th>
                        <th>Cost per minute</th>
                    </tr>
                    </thead>
                    <tbody>
                    <th:block th:each="tariffFromList : ${tariffs}">
                        <tr>
                            <td>
                                <div class="radio">
                                    <label>
                                        <input type="radio" th:field="*{tariffId}" th:value="${tariffFromList.tariffId}" th:text="${tariffFromList.tariffName}"/>
                                        <input type="hidden" th:field="*{costPerMonth}" th:value="${tariffFromList.costPerMonth}">
                                    </label>
                                </div>
                            </td>
                            <td th:text="${tariff.costPerMonth}">...</td>
                            <td th:text="${tariff.costPerMinute}">...</td>
                        </tr>
                    </th:block>
                    </tbody>
                </table>
                <button type="submit" name="connect" class="btn btn-default">Connect</button>
            </form>
        </div>
    </div>

    <div th:replace="fragments/footer :: footer">
    </div>

</div>

</body>
</html>