<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Main</title>
    <div th:replace="fragments/bootstrap :: bootstrap">
    </div>

</head>
<body>

<div th:replace="fragments/headerAbonent :: headerAbonent">
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div>
                In order to use the services you must advance the balance. Minimum: <span th:text="${tariff.costPerMonth}">...</span>
            </div>
            <br/>
            <form name="topUpAccount" th:action="@{/user/connectAdvancePayment}" method="post" th:object="${userWrapper}" onSubmit="return myFunction();">
                <input th:type="text" th:field="*{balance}" id="balance"><span id="balanceError" autofocus></span><br/><br/>
                <input th:type="hidden" id="minBalance" th:value="${tariff.costPerMonth}">
                <button type="submit" name="connect" class="btn btn-default">Advance balance</button>
            </form>
        </div>
    </div>

    <div th:replace="fragments/footer :: footer">
    </div>

</div>

<script>
    function myFunction() {
        var x, text, minBalance;
        minBalance = document.getElementById("minBalance").value;
        var comparison = parseInt(minBalance);

        x = document.getElementById("balance").value;

        var reg = /^[0-9]+$/;
        if (!reg.test(x)) {
            text = "&nbsp;&nbsp;Enter the number";
            document.getElementById("balanceError").innerHTML = text;
            return false;
        } else if (x < comparison) {
            text = "&nbsp;&nbsp;The minimum value should be: " + minBalance;
            document.getElementById("balanceError").innerHTML = text;
            return false;
        } else {
            return true;
        }
    }
</script>

</body>
</html>