<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Main</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>

<div th:replace="fragments/header :: header">
</div>

<!-- Navigation -->
<div class="container" style="background-color:#6495ED; padding-right: 0px; padding-left: 0px;">
    <div class="navbar navbar-inverse" style="margin-bottom:0px;">
        <div class="container-fluid" style="padding-left: 0px;">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigationNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="navigationNavbar">
                <ul class="nav navbar-nav">
                    <li><a href="#">Тарифы</a></li>
                    <li><a href="#">Услуги</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>


<!-- Body -->
<div class="container" style="background-color:#C7FCEC; padding-right: 0px; padding-left: 0px;">
    <div class="col-sm-8 text-left">
        <h1>USER</h1>

    </div>
</div>

</body>
</html>