<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Main</title>
    <div th:replace="fragments/bootstrap :: bootstrap">
    </div>

</head>
<body>

<div th:replace="fragments/header :: header">
</div>

<!-- Body -->
<div class="container">

        <div th:if="${user.tariff == null}">
            <div>
                In order to use the services of our company, you must make a connection.
            </div>
            <br/>
            <a th:href="@{/user/connect}"><button type="submit" class="btn btn-default">Connect</button></a>
        </div>

        <div th:if="${user.tariff != null}">
            Your number: <span th:text="${user.phoneNumber.number}">User Description</span><br/><br/>
            Your tariff: <span th:text="${user.tariff.tariffName}">User Description</span><br/><br/>
            <div th:if="${numberOfTariffs > 1}">
                <a th:href="@{/user/changeTariff}"><button type="submit" class="btn btn-default">Change tariff</button></a>
            </div>

            <br/>

            <a th:href="@{/user/services}"><button type="submit" class="btn btn-default">List of services</button></a>

        </div>

    <div th:replace="fragments/footer :: footer">
    </div>

</div>

</body>
</html>