<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Main</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <style>
        .navbar {
            margin-bottom: 0;
            border-radius: 0;
        }
    </style>

</head>
<body>

<div th:replace="fragments/header :: header">
</div>



<div class="jumbotron">
    <div class="container text-center">
        <h1 class="display-3">Welcome!</h1>
    </div>
</div>

<div class="container">
    <hr>

    <footer>
        <p>© Company 2017</p>
    </footer>

</div>

</body>
</html>