<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Main</title>

    <div th:replace="fragments/bootstrap :: bootstrap">
    </div>

    <style>
        .navbar {
            margin-bottom: 0;
            border-radius: 0;
        }
    </style>



</head>
<body>


<div th:replace="fragments/header :: header">
</div>

<div class="container">
    <div th:if="${isAdminInitialized}">
        <div class="row">
            <div class="col-md-12" style="margin-top: 20px">
                <p>The administrator has already been initialized.</p>
            </div>
        </div>
    </div>
    <div th:if="${!isAdminInitialized}">
    <div class="row">
        <div class="col-md-12" style="margin-top: 20px">
            <p>Before you start using the application, you must initialize the administrator. To do this, you must enter username and password.</p>
            <p>Also, roles that are used in this application are automatically initialized: ROLE_ADMIN, ROLE_USER, ROLE_ABONENT.</p>
            <p>20 phone numbers will be automatically added to the database.</p>
            <p>After that you can go to the personal administrator page where you can perform the following operations:<br/>
                &nbsp; - view all existing tariffs and add a new one;<br/>
                &nbsp; - view all existing services and add a new one;<br/>
                &nbsp; - view all subscribers, as well as their personal information.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-default" style="margin-top: 45px">
                <div class="panel-body">
                    <form class="form-horizontal" name="form" action="#" th:action="@{/setup}" method="post" th:object="${user}">
                        <div class="form-group">
                            <label for="username" class="col-sm-2 control-label">Username</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="username" placeholder="Username" th:field="*{username}"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password" class="col-sm-2 control-label">Password</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="password" placeholder="Password" th:field="*{password}"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" name="save" class="btn btn-default">Sign up</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>

    <div th:replace="fragments/footer :: footer">
    </div>

</div>

</body>
</html>