<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Main | Tariffs</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>

<div th:replace="fragments/header :: header">
</div>

<!-- Navigation -->
<div class="container" style="padding-right: 0px; padding-left: 0px;">
    <div class="navbar navbar-default" style="margin-bottom:0px;">
        <div class="container-fluid" style="padding-left: 0px;">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigationNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="navigationNavbar">
                <ul class="nav navbar-nav">
                    <li><a href="/main/tariffs">Tariffs</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>


<!-- Body -->
<div class="container" style="background-color:#C7FCEC;">

        <h3>We offer the following tariffs:</h3>

        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Name</th>
                <th>Cost per month</th>
                <th>Cost per minute</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="tariff : ${tariffs}">
                <tr>
                    <td th:text="${tariff.tariffName}">...</td>
                    <td th:text="${tariff.costPerMonth}">...</td>
                    <td th:text="${tariff.costPerMinute}">...</td>
                </tr>
            </th:block>
            </tbody>
        </table>

</div>

</body>
</html>