<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Main</title>
    <div th:replace="fragments/bootstrap :: bootstrap">
    </div>

</head>
<body>

<div th:replace="fragments/headerAdmin :: headerAdmin">
</div>

<div th:replace="fragments/adminNavbar :: adminNavbar">
</div>


<!-- Body -->
<div class="container">

    <h3>Abonents:</h3>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="us : ${users}">
            <tr>
                <td th:text="${us.userId}">...</td>
                <td>
                    <a th:href="@{/admin/userInfo/} + ${us.username}" th:text="${us.username}" th:target="_blank">...</a>
                </td>
            </tr>
        </th:block>
        </tbody>
    </table>

    <div th:replace="fragments/footer :: footer">
    </div>

</div>

</body>
</html>