<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Main</title>
    <div th:replace="fragments/bootstrap :: bootstrap">
    </div>

</head>
<body>

<div th:replace="fragments/headerAdmin :: headerAdmin">
</div>

<div th:replace="fragments/adminNavbar :: adminNavbar">
</div>

<!-- Body -->
<div class="container">
        Количество абонентов: <span th:text="${numberOfUsers}">...</span>

    <div th:replace="fragments/footer :: footer">
    </div>

</div>


</body>
</html>