<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Admin | Numbers</title>
    <div th:replace="fragments/bootstrap :: bootstrap">
    </div>

</head>
<body>

<div th:replace="fragments/headerAdmin :: headerAdmin">
</div>

<div th:replace="fragments/adminNavbar :: adminNavbar">
</div>


<!-- Body -->
<div class="container">

    <div class="panel panel-default" style="margin-top: 20px">
        <div class="panel-heading">
            <h3 class="panel-title">ADD PHONE NUMBER</h3>
        </div>
        <div class="panel-body">
            <form class="form-horizontal" name="form" th:action="@{/admin/addNumber}" th:object="${phoneNumber}" method="post">
                <div class="form-group">
                    <label for="number" class="col-sm-2 control-label">Number</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="number" placeholder="Number" th:field="*{number}"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" name="save" class="btn btn-default">Add number</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <h3>Phone numbers:</h3>

    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Id</th>
            <th>Number</th>
            <th>User</th>
        </tr>
        </thead>
        <tbody>
            <th:block th:each="phoneNumber : ${phoneNumbers}">
                <tr>
                    <td th:text="${phoneNumber.phoneNumber_id}">...</td>
                    <td th:text="${phoneNumber.number}">...</td>
                    <td th:text="${phoneNumber.used}">...</td>
                </tr>
            </th:block>
        </tbody>
    </table>

    <br/><br/>

    <div th:replace="fragments/footer :: footer">
    </div>

</div>

</body>
</html>