<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Admin | Tariffs</title>
    <div th:replace="fragments/bootstrap :: bootstrap">
    </div>

</head>
<body>

<div th:replace="fragments/headerAdmin :: headerAdmin">
</div>

<div th:replace="fragments/adminNavbar :: adminNavbar">
</div>


<!-- Body -->
<div class="container">

    <div class="panel panel-default" style="margin-top: 20px">
        <div class="panel-heading">
            <h3 class="panel-title">ADD TARIFF</h3>
        </div>
        <div class="panel-body">
            <form class="form-horizontal" name="form" th:action="@{/admin/addTariff}" th:object="${tariff}" method="post">
                <div class="form-group">
                    <label for="tariffName" class="col-sm-2 control-label">Tariff name</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="tariffName" placeholder="Tariff name" th:field="*{tariffName}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="costPerMonth" class="col-sm-2 control-label">Cost per month</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="costPerMonth" placeholder="Cost per month" th:field="*{costPerMonth}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="costPerMinute" class="col-sm-2 control-label">Cost per minute</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="costPerMinute" placeholder="Cost per minute" th:field="*{costPerMinute}"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" name="save" class="btn btn-default">Add tariff</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <h3>Tariffs:</h3>
    <div th:if="${tariffs.isEmpty()}">
        The table is empty.
    </div>
    <table class="table table-bordered" th:if="${!tariffs.isEmpty()}">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Cost per month</th>
                <th>Cost per minute</th>
            </tr>
            </thead>
        <tbody>
            <th:block th:each="tariff : ${tariffs}">
                <tr>
                    <td th:text="${tariff.tariffId}">...</td>
                    <td th:text="${tariff.tariffName}">...</td>
                    <td th:text="${tariff.costPerMonth}">...</td>
                    <td th:text="${tariff.costPerMinute}">...</td>
                </tr>
            </th:block>
        </tbody>
    </table>

    <div th:replace="fragments/footer :: footer">
    </div>

</div>

</body>
</html>