<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Admin | Tariffs</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>

<div th:replace="fragments/header :: header">
</div>

<!-- Navigation -->
<div class="container" style="padding-right: 0px; padding-left: 0px;">
    <div class="navbar navbar-default" style="margin-bottom:0px;">
        <div class="container-fluid" style="padding-left: 0px;">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigationNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="navigationNavbar">
                <ul class="nav navbar-nav">
                    <li><a href="/admin">Main</a></li>
                    <li><a href="/admin/numbers">Numbers</a></li>
                    <li><a href="/admin/tariffs">Tariffs</a></li>
                    <li><a href="/admin/abonents">Abonents</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>


<!-- Body -->
<div class="container" style="background-color:#C7FCEC;">

    <div class="panel panel-default" style="margin-top: 20px">
        <div class="panel-heading">
            <h3 class="panel-title">ADD TARIFF</h3>
        </div>
        <div class="panel-body">
            <form class="form-horizontal" name="form" th:action="@{/admin/addTariff}" th:object="${tariff}" method="post">
                <div class="form-group">
                    <label for="tariffName" class="col-sm-2 control-label">Tariff name</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="tariffName" placeholder="Tariff name" th:field="*{tariffName}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="costPerMonth" class="col-sm-2 control-label">Cost per month</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="costPerMonth" placeholder="Cost per month" th:field="*{costPerMonth}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="costPerMinute" class="col-sm-2 control-label">Cost per minute</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="costPerMinute" placeholder="Cost per minute" th:field="*{costPerMinute}"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" name="save" class="btn btn-default">Add tariff</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <h3>Tariffs:</h3>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Cost per month</th>
            <th>Cost per minute</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="tariff : ${tariffs}">
            <tr>
                <td th:text="${tariff.tariff_id}">...</td>
                <td th:text="${tariff.tariffName}">...</td>
                <td th:text="${tariff.costPerMonth}">...</td>
                <td th:text="${tariff.costPerMinute}">...</td>
            </tr>
        </th:block>
        </tbody>
    </table>

    <br/><br/>




</div>

</body>
</html>