<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

    <nav class="navbar navbar-inverse" th:fragment="header">
        <a href="https://github.com/amilosh/mobile"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/a6677b08c955af8400f44c6298f40e7d19cc5b2d/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677261795f3664366436642e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png"></a>
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!--<img th:src="@{/resources/images/mobile_logo.jpg}">-->
                <a class="navbar-brand" style="color: #7FC7FF;" th:href="@{/}">MOBILE</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li th:classappend="${#request.requestURI == '/mobile/main/tariffs'}?active"><a th:href="@{/main/tariffs}" th:text="#{header.tariffs}">Tariffs</a></li>
                    <li th:classappend="${#request.requestURI == '/mobile/main/services'}?active"><a th:href="@{/main/services}" th:text="#{header.services}">Services</a></li>
                    <li th:classappend="${#request.requestURI == '/mobile/main/internet'}?active"><a th:href="@{/main/internet}" th:text="#{header.internet}">Internet</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span th:text="#{header.language}">Language</span><span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a th:href="@{/?lang=en_US}" th:text="#{header.english}">Английский</a></li>
                            <li><a th:href="@{/?lang=ru_RU}" th:text="#{header.russian}">Русский</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right" th:if="${#authorization.expression('!isAuthenticated()')}">
                        <li><a th:href="@{/main/login}"><span class="glyphicon glyphicon-log-in"></span><span th:text="#{header.login}"> Login</span></a></li>
                        <li><a th:href="@{/main/registration}"><span class="glyphicon glyphicon-log-in"></span><span th:text="#{header.registration}"> Registration</span></a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right" th:if="${#authorization.expression('isAuthenticated()')}">
                    <li><a th:href="@{/main/personal}"><span sec:authentication="name">Authorized</span></a></li>
                    <li>
                        <form th:action="@{/logout}" method="post" style="margin-top: 8px;">
                            <input type="submit" value="Logout" class="btn btn-default">
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

</html>