<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body>

    <div class="navbar navbar-inverse" style="margin-bottom:0px;" th:fragment="header">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#headerNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Mobile</a>
            </div>
            <div class="collapse navbar-collapse" id="headerNavbar">
                <div class="navbar-form navbar-right">
                    <div th:if="${#authorization.expression('!isAuthenticated()')}">
                        <a href="/main/login"><button type="submit" class="btn btn-success">Lig in</button></a>
                        <a href="/main/registration"><button type="submit" class="btn btn-info">Registration</button></a>
                    </div>
                    <div th:if="${#authorization.expression('isAuthenticated()')}">
                        <a href="/main/personal"><button type="submit" class="btn btn-success"><span sec:authentication="name">Authorized</span></button></a>
                        <form th:action="@{/logout}" method="post" style="display: inline-block">
                            <input type="submit" value="Logout" class="btn btn-info">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </body>

</html>