<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body>

    <nav class="navbar navbar-inverse" th:fragment="header">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Mobile</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li><a href="/main/tariffs">Tariffs</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right" th:if="${#authorization.expression('!isAuthenticated()')}">
                        <li><a href="/main/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                        <li><a href="/main/registration"><span class="glyphicon glyphicon-log-in"></span> Registration</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right" th:if="${#authorization.expression('isAuthenticated()')}">
                    <li><a href="/main/personal"><span sec:authentication="name">Authorized</span></a></li>
                    <li>
                        <form th:action="@{/logout}" method="post" style="margin-top: 8px;">
                            <input type="submit" value="Logout" class="btn btn-default">
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </nav>





    </body>

</html>